*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
}

.calculator{
    width: 300px;
    height: 450px;
    background-color: rgb(46, 46, 46);

    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(4,1fr);

    border: 10px solid;
    border-radius: 20px;
    overflow: hidden;

    box-shadow: 2px 2px 20px 2px aqua;

    gap: 5px;

}

input{
    grid-area: 1 / 1 / 2 / -1;
    outline: none;

    font-size: 30px;
    font-weight: 900;

    text-align: end;
    padding-right: 10px;

    background-color: gray;
    color: white;

    border: 5px solid black;
}

button{
    background-color: black;
    color: gray;

    font-size: 25px;
    font-weight: 800;

    border-radius: 25%;
}

button:hover{
    border: 2px solid gray;
}

button:active{
    border: 3px solid greenyellow;
}

.eq{
    background-color: rgb(60, 63, 63);
}

.eq:active{
    border: 3px solid green;
}